htlm,body,ul.dl.ol,h1,h2,p,fieldset,legend,img{margin:0; padding:0;}
ul li{list-style:none;}
a{text-decoration:none; color:#666666;}
body{font:14px/1.5 "微软雅黑"; color:#666666;}
htlm,body{
	position: relative;
}
*{
	margin: 0;
	padding: 0;
}
/*----------head--------------*/
.layout{
	width:1190px;
	margin: 0 auto;
	
}
.head{
	border: 1px #f4f4f4 solid;
	background: #f8f8f8;
	height: 30px;
	
	font: 12px/30px "";
	
}
.head .head_l{
	width:30%;
	float: left;
	
	
	
}
.head .head_r{
	width: 40%;
	float: right;
}
.head_r .list{
	height:30px;
	position: absolute;
	
}
.list li{
 float: left;
 margin-right:15px ;	
}
.head_r .list1{
	width: 80px;
	height: 0px;
	overflow: hidden;
	position: absolute;
	z-index: 1;
	background: #Fff;
	
	
}
.head_r .firstli:hover .list1{
	height:120px ;
}
.head_r .lastli{
	width: 200px;
	color: red;
	font: 18px/30px "";
	background: url(../image/ip.png) no-repeat 20px center;
	text-align: center;
}
/*----------搜索部分--------*/
.seach{
	height:95px;
	width: 1190px;
	margin: 0 auto;
	overflow: hidden;
	 ;
}
 .seach .logo{
 	width: 20%;
 	height: 100%;
 	float: left;
 	background: url(../image/logo.jpg) no-repeat left center ;
 }
.seach .seach_l{
	width: 40%;
	height: 100%;
	float: left;
	position: relative;
	margin-left:100px ;
	
}
.seach_l input{
	border: none;
	border:2px #02a3f0 solid;
	width: 365px;
	height: 30px;
	
}
.seach_l .sa{
  float: right;
  width:70px;
  height: 34px;
  background:#02a3f0 ;
  font: 18px/34px "";
  text-align: center;
  color: #fff;
  display: block;
  position: relative;
  left: -38px;
}
.seach_l p{
	position: relative;
	top: 20%;
}
.seach_l .p1 a{
 margin-right:10px;
 line-height: 30px;
}
.seach_l .p1 a:hover{
	color: #02A3F0;
}
.red{
	color: red;
}
.seach .seach_r{
	width: 20%;
	
	float: right;
	height: 100%;
    background: url(../image/gwc.png) no-repeat left center;
    position: relative;
  
}

.seach_r p{
	height: 40px;
	font: 12px/50px "";
	position: absolute;
	left: 40px;
	top:29%;
	width: 150px;
	border-radius: 15px;
	text-align: center;
	background: #f4f4f4;
	border: 1px #D0D0D0 solid;
	z-index: 1;
	
}
.seach_r .gwtext{
	position: absolute;
	left: -70px;
	top: 60px;
	width: 260px;
	height: 30px;
	border: 1px #D0D0D0 solid;
	background: #fff;
	text-align: center;
	font: 14px/30px "";
	display: none;
	z-index: 0;
	
}

.seach_r:hover p{
	background: #fff;
	border-bottom: none;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}
.seach_r:hover .gwtext{
	display: block;
	
}
/*-------nav部分------*/
.nav{
	height: 40px;
	background:#161415 ;
	position: relative;
}
.nav .nav_l{
	width: 228px;
	position:relative;
	float: left;
}
.nav_l .contain{
	position: absolute;
	top: 40px;
	width: 800px;
	z-index: 4;
	
}

.nav .p1{
	float: left;
	width: 228px;
	color: #F8F8F8;
	text-align: center;
	font: 14px/40px "";
	position: relative;
	left: -100;
	background: #02A3F0;
	
	
}
.nav_l .item{
	width:218px;
	height: 80px;
	border: 1px #e7e7e7 solid;
	padding-top:10px;
    background:#F8F8F8 ;
   background-image: url(../image/jt.png);
   background-repeat:no-repeat ;
   background-position: right center;
   padding-left:10px ;
}
.nav_l .item p{
	color: #000;
}
.nav_l .item a{
	margin-right:10px ;
	
}
.nav_l .item a:hover{
	color: #02a3f0;
}
.nav_l .item.active{
	border-left:2px  #02a3f0  solid;
	background: #fff;
	border-right: none;
}
.nav .nav_r{
	width: 70%;
	float:left;
	height: 100%;
	position: relative;
	
}
.nav_r li{
	float: left;
	width: 118px;
	background: url(../image/boder.png) no-repeat right center ;
	text-align: center;
}
.nav_r a{
	font:bold 18px/40px "";
	color: #F8F8F8;
}
.nav_r .red{
	color: red;
}
.nav_r a:hover{
	 color: #02a3f0;
}

.nav_l .contain .list{
	
	position: absolute;
	width: 600px;
	height: 500px;
	top: 0;
	left: 228px;
	
}

.item1.active{
	display: block;
}

.nav_l .contain .list .item1 .item_l{
	position: relative;
	top: 28px;
	float: left;
	width: 50%;
	padding-left:15px ;
	
}
.nav_l .contain .list .item1 .item_l a:hover{
	color: #02A3F0;
}
.nav_l .contain .list {
	display: none;
	
}
.nav_l .contain .list.active{
	
	display: block;
	background:#FFFFFF ;
}
.list .item1 .item_l .text{
	width: 100%;
	height: 60px;
	border-top: 1px #666666 dotted;
	
}
.list .item1 .item_l .text span{
	color: #000000;
	font:bold 12px /1.4 "";
}
.list .item1 .item_l .text a{
	margin:0 10px ;
	font: 12px/2 "";
	color: #666666;
}
.nav_l .contain .list .item1 .item_r{
	
	width: 40%;
	position: relative;
	top: 28px;
	float: right
}
.item_r p{
	border-bottom: 1px #666666 solid;
	color: #000000;
}
.item_r a{
	margin: 0 30px;
	font: 12px/2 "";
}
.item_r a:hover{
	color: #02a3f0 ;
}
.item_r img{
	margin-top:20px ;
	width: 200px;
	height: 200px;
}
/*-------bottom部分-----------*/
.bottom{
	height: 150px;
	margin-top:30px ;
	background: #f9f9f9;
	border-bottom:1px #D0D0D0 solid;
	border-top:1px #D0D0D0 solid;
	padding: 25px 0;
}
.bottom1{
  width: 250px;
  height: 155px;
  border-right: 1px #D0D0D0 solid;
  float: left;
  
}
.bottom1 dt{
	float: left;
}
.bottom1 dl{
	margin-bottom:10px ;
}
.bottom1 dl dd{
	text-align: right;
	margin-right: 30px;
	position: relative;
	
}
.bottom1 dl dd a{
	font:bold 14px/30px "微软雅黑";
	color: #161415;
	margin: 0 20px;
	position: relative;
	top: -5px;
}
.bottom1 input{
	width: 145px;
	height: 25px;
	float: left;
}
.bottom1 i{
	float: right;
	width: 44px;
	height: 30px;
	background:#666666 ;
	font: 14/30px "";
	color: #fff;
	text-align: center;
	margin-right:57px ;
}
.bottom1 span{
	font: 12px/3 "微软雅黑";
	
}
.bottom2{
	width: 130px;
	height: 155px;
	float: left;
	border-right: 1px #D0D0D0 solid;
	
}
.bottom2 p{
	font:bold 16px/1.5 "微软雅黑";
	color: #444444;
	text-align: center;
	margin-bottom:10px ;
}
.bottom2 a{
	display: block;
	margin: 5px 0;
	text-align: center;
}
.bottom3{
	width: 120px;
	height: 155px;
	float: left;
	border-right: 1px #D0D0D0 solid;
	text-align: center;
	
}
/*----------footer部分---------------*/
.footer{
	width: 1190px;
	height: 160px;
	margin: 0 auto;
	border-bottom: 1px #D0D0D0 solid;
}
.footer dl{
	width: 200px;
	height: 70px;
	float: left;
	text-align: center;
	margin: 50px 40px;
}
.footer_b{
	height: 45px;
	width: 1190px;
	margin: 0 auto;
	text-align: center;
}
/*------------客服和回到顶部部分--------------------*/

 .db{
	position: fixed;
	width: 45px;
	height: 80px;
	bottom: 90px;
	right: 10px;
	background: url(../image/db.jpg) no-repeat center 10px;
	border: 1px #E7E7E7 solid;
	background-color: #fff;
	
	
}
 .db.hide{
	display: none;
}
 .db.active{
	display: block;
}
.db p{
	text-align: center;
	margin-top:45px ;
}
.kf{
	width: 45px;
	height: 80px;
	position: fixed;
	bottom: 10px;
	right: 10px;
	background: url(../image/kf.jpg) no-repeat center 10px;
	border: 1px #E7E7E7 solid;
	background-color:#fff ;
	
	
}
.kf p{
	text-align: center;
	margin-top:45px ;
}