.changepwd{
	width: 980px;
	height: 510px;
	margin: 0 auto;
	
	margin-top:20px ;
}
.changepwd .changepwd_l{
	width: 155px;
	height: 500px;
	border: 1px #AEAEBE solid;
	border-bottom-left-radius:15px ;
	border-top-left-radius:15px ;
	background: url(..persondsataimg/img/myzh.png) no-repeat left top;
	padding-top: 30px;
	float: left;
	
	
}

.changepwd_l .til{
	width: 140px;
	height: 35px;
	text-align: left;
	font: bold 16px/35px "";
	color: #000000;
	border: 1px #fad29c solid;
	background: #fdf3d5;
	margin: 15px auto;
}
.changepwd_l ul {
	width: 120px;
	margin: 0 auto;
}
.changepwd_l a:hover{
	color: red;
	text-decoration: underline;
}
#ytext{
	color: red;
}
#rtext{
	color: #f00;
}

.changepwd_l ul li{
	padding-left: 15px;
	background: url(..persondsataimg/img/acc-nav-ico.png) no-repeat left;
	font: 14px/1.5 "微软雅黑";
	color: #000000;
}

.changepwd  .changepwd_r{
	width: 810px;
	height:510px;
    float: right;
}
.changepwd_r .til{
	height: 32px;
	border: 2px #02A3F0 solid;
	text-align: center;
	font: 14px/32px "微软雅黑";
	color: #000000;
	background: #f2f2f2;
	-webkit-border-top-right-radius:15px ;
	margin-bottom: 25px;
	overflow: hidden;
}

.changepwd_r .zl{
	margin-bottom:20px ;
	overflow: hidden;/*避免高度塌陷*/
	margin-left:150px ;
	
}
.changepwd_r .zl span{
	float: left;
	text-align: right;
	width: 120px;
}
.changepwd_r .zl .inputstyle {
	width: 210px;
	height: 22px;
	border-top: 1px #000000 solid;
	background:#fcfcfc ;
	float: left;
}
#xtext{
	float: right;
	 width: 300px;
	 color: red;
	 
}
#change{
	display:inline-block;
	width: 90px;
	height: 25px;
	background: url(../persondataimg/change.png);
	margin-left: 400px;
}
#box{
	width: 1000px;
	height: 550px;
	
	
}
/*加个box然后把父元素overflowhidden去掉，底部就可以出现了*/